VITE_APP_NAME="GSON"
VITE_DEV=true
# Global debug mode.
VITE_DEBUG_MODE=true
# Allows to test file creation.
# see src/feature/ide/hooks/useFiles.ts
VITE_DEBUG_FILE_CREATION=false
VITE_DISPLAY_ERRORS=true