VITE_APP_NAME="GSON"
VITE_DEV=true

# Flag which enables error display in fallback.
VITE_DISPLAY_ERRORS=false
# Global debug mode.
VITE_DEBUG_MODE=false
# Allows to test file creation.
# see src/feature/ide/hooks/useFiles.ts
VITE_DEBUG_FILE_CREATION=false
# Allows to verify all editor-related (modal) events are trigger properly.
# @see src/feature/ide/components/Editor/Editor.tsx
VITE_DEBUG_EDITOR_EVENTS=false


# Delay between model change and it commit to the file.
# Set in miliseconds (integer), default to 500.
EDITOR_SYNC_AUTOSAFE_DELAY=500

# Browser shortcuts override.
ON_SHORTCUT_PREVENT_ALL=true
ON_SHORTCUT_PREVENT_BROWSER_RELOAD=true
ON_SHORTCUT_PREVENT_BROWSER_SAVE_AS=true

# Prettier formattier settings.
CODE_FORMATTING_ENABLED=true
CODE_FORMATTING_DEFAULT_TAB_WIDTH=2
CODE_FORMATTING_DEFAULT_SIGNLE_QUOTE=true
CODE_FORMATTING_DEFAULT_SEMIQUOTE=true