.c-editor-tabs {
  padding: var(--gson-spacing-1) var(--gson-spacing-2);

  border: 1px solid var(--gson-color-background-primary-contrast);
  border-top-left-radius: var(--gson-radius-container);
  border-top-right-radius: var(--gson-radius-container);
  background-color: var(--gson-color-background-primary-contrast);

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .c-editor-tab {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: var(--gson-spacing-1);
    padding-top: 0;

    .c-editor-tab__unsaved-changes {
      width: 0.5rem;
      height: 0.5rem;
      opacity: 0.2;
      margin: 2px 0.1rem 0;
      border-radius: var(--gson-radius-full);
      background-color: var(--gson-color-warning);
    }

    .c-editor-tab__close {
      visibility: hidden;
      cursor: pointer;
    }

    &__active,
    &:hover {
      border: 1px solid var(--gson-color-background-primary-contrast-outline);
      border-radius: var(--gson-radius-item);
      background-color: var(--gson-color-background-primary-contrast);

      .c-editor-tab__close {
        visibility: visible;

        // Highlight closing icon background on hover.
        &:hover {
          svg {
            background-color: var(
              --gson-color-background-primary-contrast-active
            );
          }
        }
      }
    }
  }
}
