.c-ide {
  background-color: var(--gson-color-background-primary);
  padding: var(--gson-spacing-2) 0 var(--gson-spacing-6);
  height: 100%;
  display: flex;
  flex-direction: column;

  .c-ide__content {
    background-color: var(--gson-color-background-primary-contrast);
    border: 2px solid var(--gson-color-background-primary);
    border-top-width: 0;
    border-bottom-width: 0;

    border-radius: var(--gson-radius-container);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
